# Storyblok Configuration (Optional)
# Get your token from: https://app.storyblok.com/#/me/account?tab=token
# Supabase Configuration
# Get these values from your Supabase project settings:
# https://app.supabase.com/project/_/settings/api

SUPABASE_URL=https://hqdtezmururybwpcxghf.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhxZHRlem11cnVyeWJ3cGN4Z2hmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM1MTE4MjQsImV4cCI6MjA3OTA4NzgyNH0.BcM_RmGx90XWWJlP3XqPykfJYoaSK-5_nb41n8IUOM0


# App Configuration
NUXT_PUBLIC_APP_NAME=Monthly Budget Planner
NUXT_PUBLIC_APP_URL=https://your-app.netlify.app
